# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDE/editor settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.swp

# Build artifacts
build/
dist/
*.spec

